	
	 	html, body {
			height: 100%;
			margin: 0;
			padding: 0;
		}

		#map { 
			height: 100%; 
			width: 100%;
			margin: 0;
			padding: 0;
		}

		#geolocateUI, #clearMapUI, #changeDBServerUI, #fyiUI, #attributionUI {
			background-color: #fff;
			border: 2px solid #fff;
			border-radius: 3px;
			box-shadow: 0 2px 6px rgba(0,0,0,.3);
			cursor: pointer;
			float: left;
			margin: 5px 10px 0 0;
			text-align: center;
		}

		#geolocateText, #clearMapText, #changeDBServerText, #fyiText, #attributionText {
			color: rgb(25,25,25);
			font-family: Roboto,Arial,sans-serif;
			font-size: 12px;
			line-height: 25px;
			padding-left: 5px;
			padding-right: 5px;
		}

		#attributionUI {
			/*background-image: url("/assets/help.png")*/
		}

/*		#clearMapUI {
			margin-left: 12px;
		}*/

		.controls {
			margin-top: 10px;
			border: 1px solid transparent;
			border-radius: 2px 0 0 2px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			height: 32px;
			outline: none;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
		}

		#pac-input {
			background-color: #fff;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 300;
			margin-left: 0px;
			padding: 0 11px 0 13px;
			text-overflow: ellipsis;
			width: 300px;
		}

		#pac-input focus {
			border-color: #4d90fe;
		}

		.pac-container {
			font-family: Roboto;
		}

		#type-selector {
			color: #fff;
			background-color: #4d90fe;
			padding: 5px 11px 0px 11px;
		}

		#type-selector label {
			font-family: Roboto;
			font-size: 13px;
			font-weight: 300;
		}

		#panel, #flip, #info {
		    padding: 15px;
		    text-align: center;
		    background-color: rgb(45, 49, 63);
		    border: solid 1px #c3c3c3;
			color: #fff;
			font-family: Roboto,Arial,sans-serif;
			font-size: 15px;	    
		}

		#flip {
			color:orange;
			cursor:pointer
		}

		#panel {
		    padding: 15px;
		    display: none;
		}

/*		#info{
			padding: 5px;
		}*/
		.overlay {
		    height: 0%;
		    width: 0%;
		    position: fixed;
		    z-index: 1;
		    top: 0;
		    left: 0;
		    /*background-color: rgb(241,241,241);*/
		    background-color: rgba(181,152,152, 0.8);
		    overflow-x: hidden;
		    transition: 1s;
		    font-family: 'Lato', sans-serif;
		}

		.overlay-content {
		    position: relative;
		    top: 5%;
		    width: 100%;
		    text-align: center;
		    margin-top: 30px;
		    color: white;
		    /*margin: 10px, 20px, 10px, 20px;*/
		    /*padding: 20px 10px 20px 10px;*/
		}

		.overlay a {
		    padding: 8px;
		    text-decoration: none;
		    /*font-size: 36px;*/
		    color: #686868;
		    /*display: block;*/
		    transition: 0.1s;
		}

		.overlay a:hover, .overlay a:focus {
		    color: #f1f1f1;
		}

		.overlay .closebtn {
		    position: absolute;
		    top: 20px;
		    right: 45px;
		    font-size: 60px;
		}

		@media screen and (max-height: 450px) {
		  .overlay a {font-size: 20px}
		  .overlay .closebtn {
		    font-size: 40px;
		    top: 15px;
		    right: 35px;
		  }
		}

		#overlay-spinner {
			height: 100%;
			width: 100%;
		}

		.image_type1 {
			height: 42px;
			width: 42px;
		}
		.image_type2 {
			height: 48px;
			width: 48px;
		}
		.heroku_text:visited, .heroku_text:link {
			color: rgb(51,0,138);
			font-family: sans-serif;
		}
		.r360_text:visited, .r360_text:link {
			color: #27d84d;
			font-family: sans-serif;
		}
		.rpi:visited, .rpi:link {
			color: rgb(173,0,50);
			font-family: sans-serif;
		}

	